.about {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 3rem);
	width: 100%;
	gap: 1rem;
	padding: 1rem;

	//? lado izquierdo
	&-conteiner-card {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50%;
		height: 80%;
		padding: 2rem;
		background-color: $color-primary;

		.box {
			display: flex;
			position: relative;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 2rem;
			width: 100%;
			height: 100%;
			background-color: $color-secundary;
			overflow: hidden;
			border-radius: 2rem;

			&::before {
				position: absolute;
				content: "";
				width: 120px;
				min-height: 200%;
				background: linear-gradient(blue, #d400d4);
				animation: animate 4s linear infinite;
			}
			@keyframes animate {
				0% {
					transform: rotate(0deg);
				}
				100% {
					transform: rotate(360deg);
				}
			}

			&::after {
				position: absolute;
				content: "";
				inset: 4px;
				background: gray;
				border-radius: 2rem;
			}

			h2 {
				font-size: 2rem;
				z-index: 999;
			}

			img {
				width: 50%;
				height: 50%;
				border-radius: 50%;
				z-index: 999;
			}

			&-section {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 1rem;
				width: 80%;
				height: 10%;
				z-index: 999;

				.box-icon {
					width: 2rem;
					height: 2rem;
				}
			}
		}
	}

	//? Lado derecho
	&-conteiner-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 2rem;
		width: 50%;
		height: 80%;

		&-section {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
			width: 100%;
			gap: 1rem;

			h2 {
				color: $color-text-important;
				letter-spacing: 2px;
				font-size: 2rem;
			}

			p {
				letter-spacing: 1px;
				line-height: 1.5rem;
			}
		}
	}
}
