.card {
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	border: 1px solid $color-text-important;
}

.normal-render {
	display: grid;
	grid-template-rows: 10% 80%;
	gap: 1rem;
	padding: 1rem;
	align-content: center;
	text-align: center;
	border-radius: 1rem;
	width: 100%;
	height: 100%;

	img {
		width: 100%;
		height: 100%;
		border-radius: 1rem;
	}
}

.hovered-render {
	background-color: $color-secundary;
	display: grid;
	grid-template-rows: 85% 15%;
	justify-content: center;
	align-content: center;
	width: 100%;
	height: 100%;
	padding: 1rem;
	border-radius: 1rem;

	.section-text {
		padding: 1rem;
		p {
			overflow-y: auto;
			width: 100%;
			height: 100%;
		}
	}

	.section-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		width: 100%;
		min-height: 2.5rem;
		background-color: $color-text-important;
		border-radius: 2rem;
	}
	a {
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
		transition: 300ms ease;
	}

	.card-icon {
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}

	a:hover {
		border-radius: 50%;
		width: 2.5rem;
		height: 2.5rem;
		filter: drop-shadow(0 0 10px #fff);
	}
}

@media screen and (max-width: 530px) {
	.hovered-render {
		.section-icon {
			height: 2rem;
		}
		a {
			width: 1.5rem;
			height: 1.5rem;
		}

		a:hover {
			width: 2rem;
			height: 2rem;
		}
	}
}
