.scroll-to-top {
	visibility: hidden;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	background-color: $color-card-one;
	position: fixed;
	top: auto;
	left: auto;
	right: 3rem;
	bottom: 1rem;
	color: white;
	font-size: 2rem;
	cursor: pointer;

	img {
		width: 100%;
		height: 100%;
	}
}

.visible {
	visibility: visible;
}
