.technologies {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 2rem;

	&-conteiner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		height: fit-content;
		gap: 3rem;
		padding: 2rem;
	}
}
