* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	color: $color-text;
	font-family: $font-primary;
	background-color: $color-primary;
}

p {
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 1.5rem;
}

label {
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 1.5rem;
}

a {
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 1.5rem;
}

h2 {
	font-size: 2rem;
	color: $color-text-important;
}

button {
	width: fit-content;
	height: fit-content;
	padding: 1rem;
	border-radius: 1rem;
	background-color: $color-text-important;
	color: black;
	transition: 1s ease;
	border: 1px solid transparent;
	box-shadow: 0px 0px 8px 1px transparent;
	font-weight: 500;
	letter-spacing: 1px;
	cursor: pointer;
}

button:hover {
	background-color: $color-text-important;
	border: 1px solid white;
	box-shadow: 0px 0px 8px 1px white;
	color: black;
}

@media screen and (max-width: 850px) {
	h2 {
		font-size: 1.5rem;
		color: $color-text-important;
	}
}
