@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Titan+One&display=swap");

//? Fuentes
$font-primary: system-ui, Avenir, Helvetica, Arial, sans-serif;
$font-secundary: "Dancing Script", cursive, system-ui;

//? Colores
$color-text: #EEEEEE;
$color-primary: #212121;
$color-secundary: #323232;
$color-text-important: #14FFEC;
$color-card-one: #00DFA2;
$color-card-two: #FF0060;
