@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Titan+One&display=swap");

//? Fuentes
$font-primary: system-ui, Avenir, Helvetica, Arial, sans-serif;
$font-secundary: "Dancing Script", cursive, system-ui;

//? Colores
$color-text: #eeeeee;
$color-primary: #212121;
$color-secundary: #323232;
$color-text-important: #14ffec;
$color-card-one: #00dfa2;
